/* Palette */
html {
    --color-bg-0: hsl(220, 10%, 12%);
    --color-bg-1: hsl(220, 12%, 16%);
    --color-bg-2: hsl(220, 12%, 21%);
    --color-bg-3: hsl(220, 12%, 26%);
    --color-text-0: hsl(220, 10%, 36%);
    --color-text-1: hsl(220, 10%, 48%);
    --color-text-2: hsl(220, 10%, 69%);
    --color-text-3: hsl(220, 10%, 80%);

    --color-bg-grey: hsl(220, 12%, 21%);
    --color-bg-red: hsl(5, 30%, 21%);
    --color-bg-orange: hsl(30, 30%, 21%);
    --color-bg-yellow: hsl(60, 30%, 21%);
    --color-bg-green: hsl(130, 30%, 21%);
    --color-bg-cyan: hsl(180, 30%, 21%);
    --color-bg-blue: hsl(220, 30%, 21%);
    --color-bg-purple: hsl(265, 30%, 21%);
    --color-bg-pink: hsl(315, 30%, 21%);

    --color-text-grey: hsl(220, 12%, 76%);
    --color-text-red: hsl(5, 90%, 80%);
    --color-text-orange: hsl(30, 90%, 80%);
    --color-text-yellow: hsl(60, 90%, 76%);
    --color-text-green: hsl(130, 90%, 78%);
    --color-text-cyan: hsl(180, 90%, 80%);
    --color-text-blue: hsl(220, 90%, 84%);
    --color-text-purple: hsl(265, 90%, 86%);
    --color-text-pink: hsl(315, 90%, 84%);

    --color-border-grey: hsl(220, 12%, 32%);
    --color-border-red: hsl(5, 90%, 32%);
    --color-border-orange: hsl(30, 90%, 32%);
    --color-border-yellow: hsl(60, 90%, 28%);
    --color-border-green: hsl(130, 90%, 30%);
    --color-border-cyan: hsl(180, 90%, 32%);
    --color-border-blue: hsl(220, 90%, 46%);
    --color-border-purple: hsl(265, 90%, 52%);
    --color-border-pink: hsl(315, 90%, 40%);
}

/* Theme */
html {
    --color-scheme: light dark;

    /* Color */
    --color-bg: var(--color-bg-0);
    --color-text: var(--color-text-2);
    --color-border: var(--color-bg-3);
    --color-outline: var(--color-text-3);

    --color-bg-scrollbar: var(--color-bg-2);
    --color-text-heading: var(--color-text-3);
    --color-text-placeholder: var(--color-text-1);

    --color-bg-section: var(--color-bg-1);
    --color-text-section: var(--color-text-2);

    --color-bg-button: var(--color-bg-grey);
    --color-text-button: var(--color-text-grey);

    --color-bg-hover: var(--color-bg-3);

    --color-bg-input: var(--color-bg-grey);
    --color-text-input: var(--color-text-grey);

    --color-text-link: hsl(265, 90%, 74%);

    --color-bg-mark: hsl(265, 90%, 64%);
    --color-text-mark: hsl(265, 30%, 7%);

    /* Text */
    --font-size: 16px;
    --font-family: 'Rubik', helvetica, arial, sans-serif;
    --font-size-mono: 0.875rem;
    /* --font-family: "JetBrains Mono", Menlo, Consolas, monospace; */
    --font-family-mono: "JetBrains Mono", Menlo, Consolas, monospace;
    --line-height: 1.6;
    --max-p-width: 80ch;
    --max-page-width: 120ch;

    /* Margin, Padding, Gap */
    --pad-x: 0.7rem;
    --pad-y: 0.35rem;
    --padding: var(--pad-y) var(--pad-x);

    --gap-xs: 0.25rem;
    --gap-sm: 0.5rem;
    --gap: 1.0rem;
    --gap-lg: 2.0rem;
    --gap-xl: 2.0rem;

    /*  Border, Border Radius, Outline */
    --border-width: 1px;
    --border-radius: 0.25rem;
    --border-radius-lg: 1.0rem;
    --border: var(--border-width) solid var(--color-border);
    --outline: 2px solid var(--color-outline);
}

/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide,
.hidden,
[hidden] {
    display: none !important;
}

/* Base */
html {
    font-size: var(--font-size, 16px);
    font-family: var(--font-family, sans-serif);
    color-scheme: var(--color-scheme, light dark);
}

body {
    color: var(--color-text, #fff);
    background-color: var(--color-bg, #000);
}

input,
select,
textarea,
button {
    font: inherit;
    appearance: none;

    padding: var(--pad-y, 0.5rem) var(--pad-x, 0.8rem);

    border: none;
    border-radius: var(--border-radius, 0.3rem);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible {
    outline: var(--outline, 2px solid #fff);
}

input,
select,
textarea {
    color: var(--color-text-input, #fff);
    background-color: var(--color-bg-input, #222);
}

select,
button {
    cursor: pointer;
    user-select: none;
    color: var(--color-text-button, #fff);
    background-color: var(--color-bg-button, #333);
}

svg {
    width: 1rem;
    height: 1rem;
}

label {
    font-size: 0.875rem;
    /* font-weight: 100; */
    color: var(--color-text-placeholder);
}

hr {
    border: none;
    border-radius: 99px;
    height: var(--border-width);
    background-color: var(--color-border);
    width: 100%;
}


/* Other */

::placeholder {
    color: var(--color-text-placeholder) !important;
}

.ip-icon-button {
    cursor: pointer;
    color: var(--color-text-button, #fff);
    background-color: transparent;
    padding: var(--gap-xs);
    padding: var(--gap-xs, 0.25rem) var(--gap-sm, 0.25rem);
    padding: var(--gap-xs) 0.375rem;
    border-radius: var(--border-radius, 0.4rem);
    display: grid;
    place-items: center;
}

@media (hover: hover) {
    .ip-icon-button.red-hover:hover:not(:disabled) {
        color: var(--color-text-red);
        background-color: var(--color-border-red);
    }
}

@media (hover: hover) {
    button:hover:not(:disabled) {
        transform: translate(0px, 0px);
        color: var(--color-text-button, #fff);
        background-color: var(--color-bg-hover, #333);
        /* box-shadow: none; */
    }
}

button:active:not(:disabled) {
    color: var(--color-text-button, #fff);
    background-color: var(--color-bg-button, #333);
    box-shadow: inset 2px 2px 2px -1px #00000077;
}

button:active:not(:disabled)>* {
    transform: translate(1px, 1px);
}

button:disabled {
    cursor: not-allowed;
    color: var(--color-text-placeholder);
}

.color-dim {
    color: var(--color-text-placeholder, #555);
}

.mono {
    font-size: var(--font-size-mono, 14px);
    font-family: var(--font-family-mono, monospace);
}

.small {
    font-size: 0.875rem;
}

/* Scrollbar for Chrome and Safari */
/* html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-bg-scrollbar) var(--color-bg-0);
} */

::-webkit-scrollbar {
    width: var(--gap);
    height: var(--gap);
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    /* background-color: var(--color-border-grey); */
    box-shadow: inset 0 0 10px 10px var(--color-bg-scrollbar);
    border: solid 0.35rem transparent;
    border-radius: 99px;
}

/* ::-webkit-scrollbar {
    width: var(--gap-sm);
    height: var(--gap-sm);
}

::-webkit-scrollbar-thumb {
    border: solid 0.1rem transparent;
} */

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px var(--color-bg-3);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-resizer {
    /* background: linear-gradient(135deg, transparent 0% 50%, var(--color-bg-header) 50% 100%); */
    /* background: var(--color-text-dim); */
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}