html.light {
  color-scheme: light;

  /* Text */
  --font-size: 16px;
  --font-text: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --line-height: 1.7;
  --char-width: 80ch;

  /* Margin, Padding, Gap */ 
  --pad: 0.6rem;
  --gap: 1.0rem;
  --pad-input: var(--pad) calc(1.2*var(--pad));

  /* Colors */
  --color-bg: var(--color-grey-950);
  --color-bg-header: var(--color-grey-800);
  --color-bg-section: var(--color-grey-900);
  --color-bg-dim: var(--color-grey-900);

  --color-text: var(--color-grey-400);
  --color-text-bright: var(--color-grey-300);
  --color-text-dim: var(--color-grey-500);
  --color-text-link: var(--color-blue-500);
  
  --color-bg-input: var(--color-grey-800);
  --color-text-input: var(--color-text-bright);
  
  --color-bg-highlight: var(--color-purple-800);
  --color-text-highlight: var(--color-purple-100);
  
  --color-border: var(--color-grey-600);
  --color-border-header: var(--color-grey-600);
  --color-border-section: var(--color-grey-600);
  --color-shadow: #00000099;

  /* Filters for hover, disable, active */
  --filter-brightness-hover: brightness(98%);
  --filter-brightness-disable: brightness(420%);
  --filter-brightness-active: brightness(85%);
  
  /*  Border, Border Radius, Outline */
  --border-thickness: 1px;
  --border: var(--border-thickness) solid var(--color-border);
  --radius: 0.4rem;
  --radius-lg: 0.8rem;

  /* Other colors */
  --color-bg-grey:     var(--color-grey-600);
  --color-bg-red:      var(--color-red-600);
  --color-bg-orange:   var(--color-orange-600);
  --color-bg-yellow:   var(--color-yellow-600);
  --color-bg-lime:     var(--color-lime-600);
  --color-bg-green:    var(--color-green-600);
  --color-bg-cyan:     var(--color-cyan-600);
  --color-bg-blue:     var(--color-blue-600);
  --color-bg-purple:   var(--color-purple-600);
  --color-bg-pink:     var(--color-pink-600);

  --color-text-grey:   var(--color-grey-900);
  --color-text-red:    var(--color-red-900);
  --color-text-yellow: var(--color-yellow-900);
  --color-text-orange: var(--color-orange-900);
  --color-text-lime:   var(--color-lime-900);
  --color-text-green:  var(--color-green-900);
  --color-text-cyan:   var(--color-cyan-900);
  --color-text-blue:   var(--color-blue-900);
  --color-text-purple: var(--color-purple-900);
  --color-text-pink:   var(--color-pink-900);

}