@import url('/fontawesome/all.css');

/* Reset | Clear browser default styles */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  line-height: inherit;
}

/* Enable smooth scrolling */
@media (prefers-reduced-motion: no-preference) {
  html { scroll-behavior: smooth; }
}

/* Base */
html {
  height: 100%;
  width: 100%;
  color-scheme: dark;
  font-size: var(--font-size);
  /* Prevent body scroll for mobile */
  overflow: hidden;
  position: fixed;
  /* Disable the text inflation algorithm */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-text);
  font-size: 1rem;
}

/* Horizontal Rule | Divider Line */
hr { 
  background-color: var(--color-bg-header);
  height: 2px;
  border-radius: 99px;
  width: 90%;
  margin: var(--gap) auto;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; /* Avoid text/url overflows */
}
h1, h2, h3, h4, h5 {
  color: var(--color-text-bright);
}
h1 { font-size: 1.8rem; line-height: 1; }
h2 { font-size: 1.4rem; line-height: 1; }
h3 { font-size: 1.1rem; line-height: 1; }
h4 { font-size: 1.0rem; line-height: 1; font-weight: bold; }
h5 { font-size: 0.8rem; line-height: 1; font-weight: lighter; }
/* Sub-Heading */
h6 { font-size: 1.0rem; line-height: var(--line-height); font-weight: lighter; }

/* Paragraph */
p {
  overflow-wrap: break-word; /* Avoid text/url overflows */
  line-height: var(--line-height);
  max-width: var(--char-width);
  font-size: 1rem;
}
p.indent {
  text-indent: var(--gap);
}

/* Highlight */
mark {
  color: var(--color-text-highlight);
  background-color: var(--color-bg-highlight);
  border-left: var(--border-thickness) solid var(--color-bg-highlight);
  border-right: var(--border-thickness) solid var(--color-bg-highlight);
}

/* Bold */
b, em, strong { font-weight: bold; }

/* Italic */
i, q { font-style: italic; }

/* Underline */
u { text-underline-position: under; }

/* Superscript & Subscript */
sup { top: -0.5em; font-size: .8rem; }
sub { bottom: -0.25em; font-size: .8rem; }

/* Small */
small { font-size: .8rem; }

/* Print with wall the white space and new lines */
pre { white-space: pre; }

/* Inline code */
code {
  color: var(--color-text-bright);
  background-color: var(--color-bg-section);
  padding: calc(var(--pad)/2);
  border-radius: var(--radius);
  font-family: var(--font-mono);
  font-size: 0.8rem;
  line-height: 1;
}

/* Code block | <pre><code> *stuff* </code></pre> */
pre > code {
  display: block;
  overflow: auto;

  background-color: var(--color-bg-section);
  border-radius: 0;
  line-height: var(--line-height);
  
  border-left: var(--border);
  padding: var(--gap);
  /* width: fit-content; */
}

/* Blockquote + Cite */
blockquote {
  display: grid;
  gap: var(--gap);
  align-content: flex-start;
  padding: var(--gap);

  max-width: var(--char-width);
  page-break-inside: avoid;
  overflow: hidden;

  border-left: var(--border);
  background-color: var(--color-bg-section);
  color: var(--color-text-bright);
}
cite {
  font-style: italic;
  font-weight: lighter;
}

/* Unordered, Ordered and Detail Lists */
ul { list-style: disc inside; }
ol { list-style: decimal inside; }
ol, ul, dl { margin-left: var(--gap) ;}
li {
  line-height: var(--line-height);
}
dd {
  line-height: var(--line-height);
  margin-left: calc(var(--gap)*2);
}

/* List inside a List */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
  margin-left: calc(var(--gap)*2);
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
}
th {
  border-bottom: var(--border);
  font-weight: bold;
  text-align: left;
}
th, td { padding: var(--pad-input); }

/* Inputs + Buttons + Links */

/* Links */
a { 
  cursor: pointer;
  color: var(--color-text-link);
  /* text-decoration: none; */
  text-underline-position: under;
}

/* Remove Default Styles */
button,
input:not([type="file"]),
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* Basic Color + Padding for all */
input,
button,
select,
textarea {
  padding: var(--pad-input);
  border-radius: var(--radius);
  color: var(--color-text-input);
  background-color: var(--color-bg-input);
  /* line-height: 1.2; */
}
button,
select {
  /* prevent selecting text */
  user-select: none;
  -webkit-user-select: none;
}
a,
input,
button,
select,
textarea {
  /* stop double click zoom on iOS */
  touch-action: manipulation;
  /* stop browser click feedback */
  -webkit-tap-highlight-color: transparent;
}
/* Buttons */
button,
select,
input[type=file],
input[type=reset],
input[type=button],
input[type=range],
input[type=color],
input[type=submit] {
  cursor: pointer;

  /* prevent selecting text */
  user-select: none;
  -webkit-user-select: none;
}
input[type=file] {
  cursor: pointer;
  line-height: 1;
  width: 300px;
}
input[type=color] {
  padding: 0px;
  border-radius: 0;
  height: 2rem;
}
input + label {
  cursor: pointer;
}

/* Select Icon */
select {
  line-height: 1.4;
  padding-right: 3rem;
  background-image:
    linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - (var(--pad) + .75rem)) center,
    calc(100% - (var(--pad) + .25rem)) center;
  background-size:
    .5rem .5rem,
    .5rem .5rem;
  background-repeat: no-repeat;
}
/* Option colors */
select option, optgroup {
  background: var(--color-bg-input);
  color: var(--color-text-input);
}

/* Date + Time if iOS */
@supports (-webkit-touch-callout: none) {
  input[type="date"]::after,
  input[type="datetime-local"]::after,
  input[type="month"]::after,
  input[type="week"]::after {
    padding-left: var(--pad);
    content: "📅";
  }
  input[type="time"]::after {
    padding-left: var(--pad);
    content: "🕘";
  }
}

/* Checkboxes / Radio */
input[type="radio"],
input[type="checkbox"] {
  display: inline-grid;
  place-content: center;
  padding: 0;

  width: 1.5em;
  height: 1.5em;
  vertical-align: baseline;
  
  margin-right: var(--pad);
}
input[type="radio"] { border-radius: 50%; }
input[type="checkbox"] { border-radius: var(--radius); }

/* Inner Symbol */
input[type="radio"]::before,
input[type="checkbox"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  box-shadow: inset 1em 1em currentColor;
}
input[type="radio"]::before{border-radius: 50%;}
input[type="checkbox"]::before {
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* If Checked Show Symbol */
input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Images */
img {
  display: block;
  max-width: 100%;
}
svg {
    height: 1rem;
    fill: currentcolor;
}

/* Details */
details {
  max-width: 100%;
  display: grid;
  gap: var(--gap);
  align-items: baseline;
}
details summary {
  display: block;
  cursor: pointer;
}
summary:before {
  font-family: var(--font-mono);
  font-weight: bold;
  text-align: center;
  padding-right: var(--gap);
  width: 1.25em;
  content: '+';
}
details[open] summary:before { content: '-'; }
details[open] summary { margin-bottom: var(--gap); }
details summary::-webkit-details-marker { display: none; }

/* Placeholder */
::placeholder {
  color: var(--color-text-dim);
}

/* Disabled */
:disabled,
:disabled + label {
  filter: var(--filter-brightness-disable) grayscale(1);
  cursor: not-allowed;
}
:disabled:hover {
  filter: var(--filter-brightness-disable) grayscale(1);
  cursor: not-allowed;
}

/* Text selection */
::selection {
  color: var(--color-text-highlight);
  background: var(--color-bg-highlight);
}
/* for Firefox */
::-moz-selection {
  color: var(--color-text-highlight);
  background: var(--color-bg-highlight);
}

/* Hover */
@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
  a:hover,
  input:hover,
  select:hover,
  button:hover {
    filter: var(--filter-brightness-hover);
  }
}
tbody > tr:hover {
  filter: var(--filter-brightness-hover);
  background-color: var(--color-bg-section);
}

/* Focus */
@media (hover: hover) {
  :focus-visible {
    box-shadow: inset 0px 0px 0px 1.5px var(--color-text-bright), inset 0px 0px 0px 3px var(--color-bg);
    filter: var(--filter-brightness-hover);
  }
}

/* Active | Pressed */
input:active,
button:active {
  filter: var(--filter-brightness-active);
}

/* Scrollbar for Chrome and Safari */
::-webkit-scrollbar {
  width: var(--pad);
  height: var(--pad);
}
::-webkit-scrollbar-thumb {
  background: var(--color-bg-header);
  background: var(--color-border);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-resizer {
  /* background: linear-gradient(135deg, transparent 0% 50%, var(--color-bg-header) 50% 100%); */
  /* background: var(--color-text-dim); */
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
